$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//Font
$primary-font: "Inter", sans-serif;

//Colors
$blue: #0a8e9f;
$green: #91c771;
$gradient: linear-gradient(to bottom right, #0a8e9f, #91c771);
